.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.login-button {
  background-color: #23533a;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
  background-color: #fff;
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: space-between;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.nav-linksLogo{
  height: 25px;
}

.nav-links:hover {
  color: #e9ba23;
}

.login-button:hover {
  color: #9c9c9c!important;
}
.studio-link {
  height: 29px;
  width: 273px;
  left: 144px;
  top: 27px;
  border-radius: nullpx;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* Otros estilos si los necesitas */
}


.login-button {
  background-color: #0038FF;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  padding: 5px 10px;
  text-align: center;
}

.nav-link:hover {
  color: #f00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}