.flex-container {
  display: flex;
  background-image: url("../assets/bacvk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.flex-item1 {
  width: 100%;
}
.flex-item2{
  width: 50%;
}
.flex-item1,.flex-item3{
  position: relative;
bottom: 7vh;
right: 8vh;
}
.flex-item3{
  bottom: -6vh;
}
#fotoCastleIn{
  width: 55%;
  height: auto;
}
.flex-item1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#unity{
  height: 15%;
  width:  15%;
  position: relative;
  top: 150px;   
}
#texto ,#texto2{
  position: relative;
  z-index: 100; 
  font-family: "Inria Serif", serif;
  font-size: 23.62px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  color: #D0BC90;
  white-space: pre-line;
  overflow-wrap: break-word;
}
#texto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.22);
  filter: blur(16.5px);
  border-radius: 10px;
  z-index: -140;
}
.no-underline {
  text-decoration: none;
}
.playLearn{
  display: flex;
  flex-wrap: wrap;
  font-family: "Inria Serif", serif;
  align-items: center;
}
#playnow {
  font-weight: 700;
  color: #B9AE85;
  font-size: 32px;
  box-sizing: border-box;
  width: 172px;
  height: 62px;
  background: #23533A;
  border: 1px solid #D0BC90;
  border-radius: 10px;
}
#learnMore{
  color: #B9AE85;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  
}
.underline{
  text-decoration-color: #B9AE85;
}
#texto2{
  display: none;
}
@media only screen and (max-width: 480px) {
  .playLearn{
    display: inline-flex;
    margin-right: 0px;  
  }
  #unity{
    display: none;
  }
  #fotoCastleIn{
    margin: 0; 
    width: 70%;
    bottom: 0px;
  }
  
  .flex-item1{
  flex-direction: column; 
  position: static;
  }
  #texto{
  display: none;
  }
  #texto2{
    display: block;
    text-align: center;
  }
  .flex-container{
    flex-direction: column;
  }
  .flex-item1, .flex-item2{
    width: 100%;
  }
  .flex-item2{
    align-items: center;
  }
  #playnow{
    font-size: 20px;
    width: 122px;
    height: 42px;
  }
  #learnMore{
    display: none;
  }
} 