@use 'three-dots' with (
  $dot-width: 10px,
  $dot-height: 10px,
  $dot-color: #000000
);

.formulario {
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.mural {
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

#time{
  opacity: 50%;
}

.loader{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}


@keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}

.squiggly {
  animation: squiggly-anim 0.34s linear infinite;
  display: inline-block;
}

.creepy {
   display: flex
}

.creepy span {
  @extend .squiggly;
}

 
 



