.classStepinto{
  font-family: 'Inter';
  font-style: normal;
}
.parrafoInicial{
margin-left: 40px;
}
#stepinto{
  font-size: 64px;
  line-height: 77px;
  color: #3D3D3D;
}
#explore {
  margin-top: 30px;
  font-weight: 400!important;
  font-size: 32px;
  line-height: 39px;
  left: 0px;
  top: 0px;
  color: #4F4F4F;
}
.classDare{
  display: flex;
  align-items: center;
  justify-content: center;
}
#dare{
  margin-top: 50vh;
  text-align: center;
  align-items: center;
  align-self: center;
  font-size: 64px;
  color: #000000;
  margin-bottom: 110vh;
}


@media only screen and (max-width: 480px) {
  #stepinto{
    font-size: 24px;
    line-height: 30px;
    color: #3D3D3D;
  }
  #explore {
    margin-top: 30px;
    font-size: 20px;
    line-height: 19px;
  }
  #dare{
    font-size: 34px;
  }
}

 