.navbar{
  height: 10vh;
  padding: 0px!important;
  margin: 0px!important;
}
.nav-links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.nav-linksLogo{
  height: 25px;
}
.rr {
  margin-bottom: 10px;
}
.nav-links:hover {
  color: #e9ba23;
}
.login-button:hover {
  color: #9c9c9c!important;
}
.studio-link {
  height: 29px;
  width: 273px;
  left: 144px;
  top: 27px;
  border-radius: nullpx;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.barra3{
  text-align: right;
}
.login-button {
  background-color: #0038FF;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  padding: 5px 10px;
  text-align: center;
}

.okey{
  padding: 0px!important;
  margin: 0px!important;
}

@media only screen and (max-width: 480px) {
  .okey{
    position: absolute;
    top: 0;
  }
  .navbar {
    height: 12vh;
  }
  .barra2 {
    top: 30px;
    padding: 10px;
    margin: 0px;
    padding-top: 20px;

  }
  .barra2 a{
    margin: 10px;
    padding: 0px!important;
  }
  .barra3{
    text-align: center!important;
    bottom: 0px;
    margin-bottom: 10px!important;
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    height: 14vh;
  }
  
  .barra2 {
    top: 30px;
    margin: 0px!important;
    padding: 0px!important;
  }
  .barra3 {
    position: absolute;
    top: 60px;
  }
}


@media only screen and (max-width: 280px) {
   .studio-link{
    font-size: medium;
    padding: 5px;
  }
  .rr{
    height: 15px;
    margin-top: 5px;
   }
  .barra2 {
    font-size: xx-small;
  }
  .barra3 {
    position: absolute;
    top: 60px;
  }
}